<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Atribuir funcionários a festa</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <script src='/style.js' defer></script>
</head>
<body class="altura1">
    <%- include('../partials/header.ejs') %>
    <section name="" id="" class="lista col-6 margem">
        <h1>Atribuir funcionários a festa:</h1>
        <% if(todasAsFestas.length != 0)
        {%>
            <%todasAsFestas.forEach(festa =>
            {%>
                <hr>
                <form action="/admin/setFuncionarioFesta" method="post">
                       <dd> Aniversariante: <%= festa.aniversariante %></dd>
                       <dd> Data: <%= festa.data %></dd>
                       <dd> Tema: <%= festa.tema %></dd>
                       <dd> Salão: <%= festa.local %></dd>
                       <dd> Convidados: <%= festa.qtdConvidados %></dd>
                       <dd> Horário: <%= festa.horario %></dd>
                       <dd><input type="hidden" value="<%- festa.idFesta %>" name="idFesta"></dd>
                       <dd>
                           <select name="idFuncionario">
                               <%todosFuncionarios.forEach(funcionario =>{%>
                                       <option value="<%= funcionario.idFuncionario %>"><%= funcionario.nome %></option>
                                   <%})%>
                           </select>
                       </dd><br>
                       <button>Designar funcionario</button>
                    </form>
                    <hr>
            <%})%>
        <%}else{%>
                    <p>Nenhuma festa agendada</p>
                <%}
        %>
    </section>
</body>
</html>