<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Funcionários</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/col.css'>
    <script src='/style.js'></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <section class="lista col-6 margem">
        <h1>Funcionários:</h1><br>
        <%
            if(todosFuncionarios){%>
                <% todosFuncionarios.forEach(funcionario => {%>
                    <hr>
                    <form action="/admin/excluirFuncionario" method="post">
                        <dt>Nome: <%= funcionario.nome %></dt>
                        <dd>Usuario: <%= funcionario.userName %></dd>
                        <dd>Email: <%= funcionario.email %></dd>
                        <dd>Função: <%= funcionario.funcao %></dd>
                        <input type="hidden" name="idFuncionario" value=" <%- funcionario.idFuncionario %>">
                        <button>Demitir</button>
                    </form>
                    <hr>
                <%})%>
            <%}
        %>
    </section>
</body>
</html>