<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Festas para acontecer</h1>
    <dl>
        <%
        if(todasFestas.length != 0){ %><!--caso exista algo na tabela de festas, as exibe-->
            <% todasFestas.forEach(festa=>{ %>
                <form action="/editarFesta" method="post">
                    <input type="text" name="festaId" value="<%- festa.id%>">
                    <dt> Contratante: <%- festa.idUsuario %> </dt>
                    <dd>aniversariante: <%- festa.aniversariante %></dd>
                    <dd> Data: <%- festa.data %></dd>
                    <dd> Tema: <%- festa.tema %></dd>
                    <dd> Salão: <%- festa.local %></dd>
                    <dd> Convidados: <%- festa.qtdConvidados %></dd>
                    <dd> Horario: <%- festa.horario%></dd>
                    <button type="submit">Editar</button>
                </form>
            <% }) %> <% }else{ %><!--se não houver festas agendadas, exibe a mensagem-->
                <dt>Nenhuma festa agendada</dt>
                <% } 
        %>
    </dl>
</body>
</html>